[user]
        name = "Jason D'Amour"
        email = "jasondamour98@gmail.com"
        signingkey = ~/.ssh/id_ed25519.pub
[gpg]
        format = ssh
[commit]
        gpgsign = true
[core]
	editor = code --wait
